[submodule "aoe-data-analytics"]
	path = aoe-data-analytics
	url = https://github.com/CSCfi/aoe-data-analytics.git
[submodule "aoe-streaming-app"]
	path = aoe-streaming-app
	url = https://github.com/CSCfi/aoe-streaming-app.git
[submodule "aoe-data-services"]
	path = aoe-data-services
	url = https://github.com/CSCfi/aoe-data-services.git
[submodule "aoe-web-frontend"]
	path = aoe-web-frontend
	url = https://github.com/CSCfi/aoe-web-frontend.git
[submodule "aoe-semantic-apis"]
	path = aoe-semantic-apis
	url = https://github.com/CSCfi/aoe-semantic-apis.git
[submodule "aoe-web-backend"]
	path = aoe-web-backend
	url = https://github.com/CSCfi/aoe-web-backend.git
